<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .center{
            display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgb(233, 240, 240);

        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body>
    {% include 'header.html' %}
    <h1 class="center">Calculator</h1>
    <form method="post" >
    {% csrf_token %}
        {{form}}
    <div>
    </br>
        <label>Select</label>
        <select name="opr" class="form-control">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <button type="submit" >Calculate</button>
    </br>
        <label>Answer</label>
        <input type="text" value="{{c}}" class="form-control">
    </br>
    </div>
    </form>
    <a href="{% url 'home' %}"> 
        <button>Home</button>
    </a>
</body>
</html>