<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        .main{
            width: 1000px;
            background-color: mediumseagreen;
            font-size: 30px;
            color: white;
            padding: 20px;
            text-align: center;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/a.html">
</head>
<body>
    <div class="main">
    <h1 class="container pt-5 mt-15 text-align:center">Learnig Django | Basics</h1>
    </div>
</br>
</br>
</br>
<a href="calculator">
    <button>Calculator</button>
  </a>
</br>
</br>
<a href="{% url 'EvenOdd' %}">
    <button>Check EvenOdd</button>
</a>
</br>
</br>
<a href="{%url 'marksheet'  %}">
    <button>Marksheet</button>
</a>
    <!-- <button href="calculator/">Calculator</button> -->
    <!-- {% for n in clist %}
    <div>{{n}}</div>
    {% endfor %}
    </br>
    <table border="1" cellpading="10">
        <tr>
            <th padding: 10px;>Name</th>
            <th padding: 10px;>Phone</th>
        </tr>
        {% for l in s_details %}
        <tr>
            <th padding: 10px;>{{l.name}}</th>
            <th padding: 10px;>{{l.phone}}</th>
        </tr>
        {% endfor %}

        
    </table>

   {% if numbers|length > 0 %} 
        {% for i in numbers %}
            {% if i > 20 %}
            <div>{{i}}</div>
            {% endif %}
        {% endfor %}
    {% else %}
        No Data
    {% endif %} -->
</body>
</html>